.image{
    border-radius:50%;;
}
.badge-avatar{
    display: flex;
    gap:2rem
    
}
.badge-left{
    display: block;
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.2rem;
    bottom: 1.3rem;
    left: 4rem
}
.badge-icon {
font-size: x-large;
color:grey;
display:flex;
gap:2rem
}
.badge-right{
    position: relative;
        width: 1.6rem;
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 1rem;
    top: -0.7rem;
    left: -0.2rem;
    color:black
}
    

